rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) && firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.active == true;
    }
    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /store/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /payment-proofs/{allPaths=**} {
      allow read: if isAdmin();
      allow write: if request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}